.card {
    margin-bottom: 25px;
}

.card img {
    height: 180px;
}

.card img:hover {
    cursor: pointer;
}

.card-block {
    padding: 1rem;
}

.card-title {
    font-size: 1.1rem;
}

.card-swatch {
    margin-left: auto;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}