<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Dashboard</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Products</div>
                </div>
                <div class="panel-body">
                    <ul class="list-group" *ngIf="productsByModel">
                        <li class="list-group-item" *ngFor="let product of productsByModel">
                            <span class="badge">{{product.total}}</span>
                            {{product.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Categories</div>
                </div>
                <div class="panel-body">
                        category content will go here
                    </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Recent Activity</div>
                </div>
                <div class="panel-body">
                        recent activity will go here
                    </div>
            </div>
        </div>
    </div>
</div>