<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Dashboard</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Products</div>
                </div>
                <div class="panel-body">
                    <ul class="list-group" *ngIf="productsByModel">
                        <li class="list-group-item" *ngFor="let group of productsByModel">
                            <span class="badge">{{group.total}}</span>
                            {{group.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Categories</div>
                </div>
                <div class="panel-body">
                    <ul class="list-group" *ngIf="productsByCategory">
                        <a class="list-group-item" *ngFor="let group of productsByCategory" (click)="goToProductsByCategory(group.category_id)">
                            <span class="badge">{{group.total}}</span>
                            {{group.name}}
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Recent Activity</div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" *ngIf="recentActivities">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Model</th>
                                    <th>Price</th>
                                    <th>Category</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of recentActivities">
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.model }}</td>
                                    <td>{{ product.price | currency:'USD':true }}</td>
                                    <td>{{ product.category }}</td>
                                    <td>{{ product.timestamp | date:'short' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>