<div class="container" *ngIf="product">
    <div class="row">
        <div class="col-sm-3">
            <img [src]="product.img_url" alt="{{product.name}}" class="img-responsive">
        </div>
        <div class="col-sm-8 col-sm-offset-1">
            <h1>{{product.name}}</h1>
            <p class="lead">{{product.description}}</p>

            <p><strong>Model:</strong> {{ product.model }}</p>
            <p><strong>Price:</strong> {{ product.price | currency:'USD':'$' }}</p>
            <p><strong>Category:</strong> <a (click)="goToProductsByCategory(product.category_id)">{{ product.category }}</a></p>
            <p><strong>Created on:</strong> {{ product.created_on | date:'medium' }}</p>
            <p *ngIf="isModified()"><strong>Modified on:</strong> {{ product.modified_on | date:'medium' }}</p>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary" (click)="goBack()">Back</button>
        </div>
    </div>
</div>