.card {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
}

.card-img {
    height: 180px;
    width: 100%;
    display: block;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}

.card-block {
    padding: 1.25rem;
}

.card-title {
  margin-bottom: .75rem;
}