<div *ngIf="product">
  <div class="row">
    <div class="col-4">
      <img class="img-fluid" src="{{product.featured_image}}" alt="{{product.name}}">
    </div>
    <div class="col-8">
      <h1>{{product.name}}</h1>
      <p class="lead">{{product.description}}</p>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Price:</strong> <span class="value">{{product.price | currency:'USD':true:'1.2-2'}}</span>
        </li>
        <li class="list-group-item">
          <strong>Category:</strong> <span class="value">{{product.category_name}}</span>
        </li>
        <li class="list-group-item">
          <strong>Manufacturer:</strong> <span class="value">{{product.manufacturer}}</span>
        </li>
        <li class="list-group-item">
          <strong>Origin:</strong> <span class="value">{{product.origin}}</span>
        </li>
        <li class="list-group-item">
          <strong>Color:</strong>  <span class="value color-swatch" [ngStyle]="{'background': colorHex}"></span>
        </li>
        <li class="list-group-item">
          <strong>Material:</strong> <span class="value">{{product.material}}</span>
        </li>
      </ul>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-sm-auto">
      <button class="btn btn-default" (click)="goBack()">Back</button>
    </div>
    <div class="col"></div>
    <div class="col-sm-auto">
      <a [routerLink]="['edit']" class="btn btn-warning">Edit</a>
    </div>
  </div>
</div>