<div *ngIf="product">
  <div class="row">
    <div class="col-4">
      <img class="img-fluid" src="{{product.featured_image}}" alt="{{product.name}}">
    </div>
    <div class="col-8">
      <h1>{{product.name}}</h1>
      <p class="lead">{{product.description}}</p>
      <br>
      <h3><strong>Price:</strong> {{product.price | currency:'USD':true:'1.2-2'}}</h3>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-sm-auto">
      <button class="btn btn-default" (click)="goBack()">Back</button>
    </div>
    <div class="col"></div>
  </div>
</div>