<div class="row">
  <div class="col">
    <h1>Categories</h1>
  </div>
</div>

<br>

<div class="row">
  <div class="col">
    <button md-raised-button (click)="openModal()">Add Category</button>
  </div>
</div>

<br>

<div>

<div *ngIf="categories">
  <md-list>
    <md-list-item *ngFor="let category of categories" (click)="goToCategoryDetail(category.id)">
      <h3 md-line> {{category.name}} </h3>
      <p md-line>
        <span> {{category.description}} </span>
      </p>
    </md-list-item>
  </md-list>
</div>