<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2>Products</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-10">
			<form class="form-inline">
				<div class="form-group">
					<label for="sort" class="sr-only">Sort option</label>
					<select class="form-control" name="sort" id="sort" [(ngModel)]="sortOption" (ngModelChange)="onSelect(sortOption)">
                        <option *ngFor="let option of sortOptions" [ngValue]="option">{{option.display}}</option>
                    </select>
				</div>
				<div class="form-group">
					<label for="sort" class="sr-only">Category</label>
					<select class="form-control" name="category" id="category" #category (change)="onCategorySelect(category.value)">
						<option value="-1">-- Select category --</option>
						<option *ngFor="let category of categories" [value]="category.category_id">{{category.name}}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="filter" class="sr-only">Filter products</label>
					<input class="form-control" type="search" id="filter" name="filter"  [(ngModel)]="search" (keyup)="onKey(search)" placeholder="Search for product">
				</div>
				<button type="button" class="btn btn-default" aria-label="Clear Filters" (click)="resetForm()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
			</form>
		</div>
		<div class="col-sm-2 text-right">
			<a routerLink="/products/add" class="btn btn-primary">Add Product</a>
		</div>
	</div>

	<br>

	<div class="row" *ngIf="products">
		<div class="col-sm-3" *ngFor="let product of filteredProducts">
			<div class="panel panel-default" (click)="goToDetail(product.productId)">
				<div class="panel-heading">
					<div class="panel-title clearfix">
						<div class="pull-left">{{product.name}}</div>
						<div class="pull-right"><span class="badge badge-primary">{{product.quantity}}</span></div>
					</div>
				</div>
				<div class="panel-body">
					<span><strong>Category:</strong> </span> <span class="label label-success">{{product.categoryName}}</span>
					<br><br>
					<span><strong>Model: </strong> {{product.model}}</span>
					<br><br>
					<span><strong>Price:</strong> {{product.price | currency:'USD':'$'}}</span>
				</div>
			</div>
		</div>
	</div>
</div>