<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="20px">
  <md-input-container>
    <input mdInput placeholder="Category name" formControlName="name">
  </md-input-container>

  <md-input-container>
    <input mdInput placeholder="Category description" formControlName="description">
  </md-input-container>

  <div fxLayout="row" fxLayoutAlign="end stretch" fxLayoutGap="15px">
    <button md-raised-button color="warn" (click)="onCancel()">Cancel</button>
    <button md-raised-button color="primary" [disabled]="!canSubmit()">Submit</button>
  </div>
</form>
